@use './colors' as *;

@mixin siteReset {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@mixin burgerBtn {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: $pure-white;
	transition: width 0.3s;
}
@mixin html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
@mixin heroImages($bgImg) {
	background-image: $blue-gradient, url($bgImg);
	background-size: cover;
	background-position: 60% 20%;
	background-attachment: fixed;
}
@mixin gameCardPositionStyle {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
@mixin contactForm {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: none;
	border-radius: 8px;
	font-size: 1.6rem;
}
